# {{ schema.name }}

{{ schema.description }}

URI: {{ schema.id }}

## Classes

| Class | Description |
{% for c in schemaview.all_classes().values()|sort(attribute='name') -%}
| --- | --- |
| {{gen.link(c)}} | {{c.description}} |
{% endfor %}

## Class Properties

| Property | Description |
{% for np in schemaview.all_slots().values()|sort(attribute='name') -%}
| --- | --- |
| {{gen.link(np)}} | {{np.description}} |
{% endfor %}

## Annotation (edge) Properties

| Property | Description |
{% for ep in schemaview.all_slots(ordered_by="lexical").values()|sort(attribute='name') -%}
{%- if 'association slot' in schemaview.slot_ancestors(ep.name) -%}
| --- | --- |
| {{gen.link(ep)}} | {{ep.description}} |
{%- endif -%}
{% endfor %}

## Enumerations

| Enumeration | Description |
| --- | --- |
{% for e in schemaview.all_enums().values()|sort(attribute='name') -%}
| {{gen.link(e)}} | {{e.description}} |
{% endfor %}

## Subsets

| Subset | Description |
| --- | --- |
{% for ss in schemaview.all_subsets().values()|sort(attribute='name') -%}
| {{gen.link(ss)}} | {{ss.description}} |
{% endfor %}
