# {% if schema.title %}{{ schema.title }}{% else %}{{ schema.name }}{% endif %}

{% if schema.description %}{{ schema.description }}{% endif %}

URI: {{ schema.id }}

Name: {{ schema.name }}

{% if include_top_level_diagram %}

## Schema Diagram

```{{ gen.mermaid_directive() }}
{{ gen.mermaid_diagram() }}
```
{% endif %}

## Classes

| Class | Description |
| --- | --- |
{% if gen.hierarchical_class_view -%}
{% for u, v in gen.class_hierarchy_as_tuples() -%}
| {{ "&nbsp;"|safe*u*8 }}{% if schemaview.get_class(v).deprecated -%}~~{{ gen.link(schemaview.get_class(v)) }}~~{% else -%}{{ gen.link(schemaview.get_class(v)) }}{% endif %} | {% if schemaview.get_class(v).deprecated %}*(Deprecated)* {% endif %}{{ schemaview.get_class(v).description }} |
{% endfor %}
{% else -%}
{% for c in gen.all_class_objects()|sort(attribute=sort_by) -%}
| {% if c.deprecated -%}~~{{gen.link(c)}}~~{% else -%}{{gen.link(c)}}{% endif %} | {% if c.deprecated %}*(Deprecated)* {% endif %}{{c.description|enshorten}} |
{% endfor %}
{% endif %}

## Slots

| Slot | Description |
| --- | --- |
{% for s in gen.all_slot_objects()|sort(attribute=sort_by) -%}
| {% if s.deprecated -%}~~{{gen.link(s)}}~~{% else -%}{{gen.link(s)}}{% endif %} | {% if s.deprecated %}*(Deprecated)* {% endif %}{{s.description|enshorten}} |
{% endfor %}

## Enumerations

| Enumeration | Description |
| --- | --- |
{% for e in gen.all_enum_objects()|sort(attribute=sort_by) -%}
| {% if e.deprecated -%}~~{{gen.link(e)}}~~{% else -%}{{gen.link(e)}}{% endif %} | {% if e.deprecated %}*(Deprecated)* {% endif %}{{e.description|enshorten}} |
{% endfor %}

## Types

| Type | Description |
| --- | --- |
{% for t in gen.all_type_objects()|sort(attribute=sort_by) -%}
| {% if t.deprecated -%}~~{{gen.link(t)}}~~{% else -%}{{gen.link(t)}}{% endif %} | {% if t.deprecated %}*(Deprecated)* {% endif %}{{t.description|enshorten}} |
{% endfor %}

## Subsets

| Subset | Description |
| --- | --- |
{% for ss in schemaview.all_subsets().values()|sort(attribute='name') -%}
| {% if ss.deprecated -%}~~{{gen.link(ss)}}~~{% else -%}{{gen.link(ss)}}{% endif %} | {% if ss.deprecated %}*(Deprecated)* {% endif %}{{ss.description|enshorten}} |
{% endfor %}
