{%- if element.title and element.title != element.name %}
    {%- set title = element.title ~ ' (' ~ element.name ~ ')' -%}
{%- else %}
    {%- set title = gen.name(element) -%}
{%- endif -%}

# Type: {{ title }} {% if element.deprecated %} <span style="color: red;"><strong> (DEPRECATED) </strong></span> {% endif %}

{% if element.description %}
{% set element_description_lines = element.description.split('\n') %}
{% for element_description_line in element_description_lines %}
_{{ element_description_line }}_
{% endfor %}
{% endif %}

URI: {{ gen.uri_link(element) }}

## Type Properties

| Property | Value |
| --- | --- |
{%- if element.typeof %}
| Type Of | {{ gen.link(element.typeof) }} |
{%- endif %}
{%- if element.base %}
| Base | `{{ element.base }}` |
{%- endif %}
{%- if element.uri %}
| Type URI | {{ gen.uri_link(element.uri) }} |
{%- endif %}
{%- if element.repr %}
| Representation | `{{ element.repr }}` |
{%- endif %}
{%- if element.union_of %}
| Union Of | {{ gen.links(element.union_of) | join(', ') }} |
{%- endif %}

{%- set has_constraints = element.minimum_value is not none or element.maximum_value is not none or element.pattern %}

{%- if has_constraints %}
## Value Constraints

| Property | Value |
| --- | --- |
{%- if element.minimum_value is not none or element.maximum_value is not none %}
| Numeric Range | {{ gen.number_value_range(element) }} |
{%- endif %}
{%- if element.pattern %}
| Regex Pattern | `{{ element.pattern }}` |
{%- endif %}

{% endif %}

{% include "common_metadata.md.jinja2" %}
