[tool.poetry]
name = "linkml-runtime"
version = "0.0.0"
description = "Runtime environment for LinkML, the Linked open data modeling language"
authors = [
    "Chris Mungall <cjmungall@lbl.gov>",
    "Harold Solbrig <solbrig@jhu.edu>",
    "Sierra Moxon <smoxon@lbl.gov>",
    "Bill Duncan <wdduncan@gmail.com>",
    "Harshad Hegde <hhegde@lbl.gov>"
]

readme = "README.md"

homepage = "https://github.com/linkml/linkml-runtime"
repository = "https://github.com/linkml/linkml-runtime"
documentation = "https://github.com/linkml/linkml-runtime"

keywords = ["linkml", "metamodel", "schema visualization", "rdf", "owl", "yaml"]

classifiers = [
    "Development Status :: 5 - Production/Stable",
    "Environment :: Console",
    "Intended Audience :: Developers",
    "Intended Audience :: Science/Research",
    "Intended Audience :: Healthcare Industry",
    "License :: CC0 1.0 Universal (CC0 1.0) Public Domain Dedication",
    "Topic :: Software Development :: Libraries :: Python Modules",
    "Programming Language :: Python :: 3.8",
    "Programming Language :: Python :: 3.9",
    "Programming Language :: Python :: 3.10",
    "Programming Language :: Python :: 3.11",
    "Programming Language :: Python :: 3.12",
]

packages = [
    { include = "linkml_runtime" }
]

[tool.poetry.scripts]
comparefiles = "linkml_runtime.utils.comparefiles:cli"
linkml-normalize = "linkml_runtime.processing.referencevalidator:cli"

[tool.poetry.dependencies]
python = "^3.8"
click = "*"
deprecated = "*"
hbreader = "*"
json-flattener = ">=0.1.9"
jsonasobj2 = "==1.*,>=1.0.0,>=1.0.4"
jsonschema = ">=3.2.0"
prefixcommons = ">=0.1.12"
pyyaml = "*"
rdflib = ">=6.0.0"
requests = "*"
prefixmaps = ">=0.1.4"
curies = ">=0.5.4"
pydantic = ">=1.10.2, <3.0.0"

[tool.poetry.dev-dependencies]
coverage = "^6.2"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
