class {{ name }}(BaseModel):
    model_config = ConfigDict(
        validate_assignment = True,
        validate_default = True,
        extra = "{{ extra_fields }}",
        arbitrary_types_allowed = True,
        use_enum_values = True,
        strict = {{ strict }},
    )
{% if fields is not none %}
    {% for field in fields %}
    {{ field }}
    {% endfor %}
{% endif %}

    @model_serializer(mode='wrap', when_used='unless-none')
    def treat_empty_lists_as_none(
            self, handler: SerializerFunctionWrapHandler,
            info: SerializationInfo) -> dict[str, Any]:
        if info.exclude_none:
            _instance = self.model_copy()
            for field, field_info in type(_instance).model_fields.items():
                if getattr(_instance, field) == [] and not(
                        field_info.is_required()):
                    setattr(_instance, field, None)
        else:
            _instance = self
        return handler(_instance, info)
