{% if pydantic_ver == 1 %}
# Update forward refs
# see https://pydantic-docs.helpmanual.io/usage/postponed_annotations/
    {% for c in classes.values() -%}
{{ c.name }}.update_forward_refs()
    {% endfor %}
{% else %}
# Model rebuild
# see https://pydantic-docs.helpmanual.io/usage/models/#rebuilding-a-model
    {% for c in classes.values() -%}
{{ c.name }}.model_rebuild()
    {% endfor %}
{% endif %}