{%- import 'header.jinja2' as header -%}
{%- import 'class.jinja2' as class_macros -%}
{{ header }}

{% if metamodel_version %}# metamodel_version: {{metamodel_version}}{% endif %}
{% if model_version %}# version: {{model_version}}{% endif %}
{%- for cls in doc.classes -%}
    {{- class_macros.render_class(cls) -}}
{%- endfor %}

