{%- import 'header.jinja2' as header -%}
{%- import 'class.jinja2' as class_macros -%}
{%- import 'mixins.jinja2' as mixins -%}
{{ header }}

{{ mixins }}

# These are all str for now
ID_TYPES = {
{%- for cls in doc.classes %}
    "{{ cls.name }}": "str",
{%- endfor %}
}

{% if metamodel_version %}# metamodel_version: {{metamodel_version}}{% endif %}
{% if model_version %}# version: {{model_version}}{% endif %}
{%- for cls in doc.classes -%}
    {{- class_macros.render_class(cls) -}}
{%- endfor %}
