[package]
name = "{{ name }}"
version = "{{ version }}"
edition = "{{ edition }}"

[lib]
name = "{{ name }}"
crate-type = ["cdylib"]

[dependencies]
{% for i in imports %}
    {% if i.version %}
        {% if i.features %}
{{ i.module }} = { version = "{{ i.version }}", features = [{% for feature in i.features %}"{{ feature }}",{% endfor %}] }
        {% else %}
{{ i.module }} = "{{ i.version }}"
        {% endif %}
    {% endif %}
{% endfor %}

[dependencies.pyo3]
version = "{{ pyo3_version }}"
# features = ["abi3-py39"]