#![allow(non_camel_case_types)]

#[cfg(feature = "serde")]
mod serde_utils;
mod poly;
mod poly_containers;

{{ imports }}

// Types

{% for type in types %}
{{ type }}
{% endfor %}

// Slots

{% for slot in slots %}
{{ slot }}
{% endfor %}

// Enums

{% for enum in enums %}
{{ enum }}
{% endfor %}

// Classes

{% for struct in structs %}
{{ struct }}
{% endfor %}


{% if pyo3 %}
#[cfg(feature = "pyo3")]
#[pymodule]
#[pyo3(name="{{ name }}")]
fn {{ name }}(m: &Bound<'_, PyModule>) -> PyResult<()> {
    {% for s in struct_names %}
    m.add_class::<{{ s }}>()?;
    {% endfor %}
    Ok(())
}
{% endif %}