    fn {{ name}}(&self) -> {{ type_getter }} {
{%  if range.box_needed %}
// {{ ct }}
{% if ct == 'list' %}
        return poly_containers::ListView::new(&self.{{ name }});
{% elif ct == "mapping" %}
        return poly_containers::MapView::new(&self.{{ name }});
{% else %}
        return self.{{ name }}.as_deref();
{% endif %}
{% else %}
{% if range.optional %}
        {% if type_getter == 'Option<&str>' %}
        return self.{{ name }}.as_deref();
        {% else %}
        return self.{{ name }}.as_ref();
        {% endif %}
{% else %}
{% if need_option_wrap %}
        return Some(&self.{{ name }});
{% else %}
        return &self.{{ name }};
{% endif %}
{% endif %}
{% endif %}
    }
