{%- if is_key_value -%}
{% if inline_mode == "list" %}
#[cfg_attr(feature = "serde", serde(deserialize_with = "serde_utils::deserialize_inlined_dict_list{% if recursive %}_box{% endif %}"))]
{% elif inline_mode == "mapping" %}
#[cfg_attr(feature = "serde", serde(deserialize_with = "serde_utils::deserialize_inlined_dict_map{% if recursive %}_box{% endif %}"))]
{% endif %}
{%- endif -%}
{% if hasdefault %}
#[cfg_attr(feature = "serde", serde(default))]
{% endif %}
pub {{ name }}: {{ type_for_field }}