{% if attributes or description %}
#[
{%- if description -%}doc = r" {{ description | escape }}", {%- endif -%}
{%- for key, val in attributes.items() -%}
{{ key }} = "{{ val }}"{% if not loop.last %}, {% endif %}
{%- endfor -%}
]
{%- endif -%}
{%- if type_ | length > 1 -%}
pub enum {{ name }}_range {
{%- for t in type_ -%}
    {{ t }}({{ t }}){% if not loop.last %}, {% endif %}
{%- endfor -%}
}
{% if multivalued %}
pub type {{ name }} = Vec<{{ name }}_range>;
{%- else -%}
pub type {{ name }} = {{ name }}_range;
{%- endif -%}
{%- else -%}
pub type {{ name }} = {%- if multivalued %} Vec<{{ type_[0] }}>
{%- else %} {{ type_[0] }}{%- endif -%};
{% endif %}