name: Sphinx Documentation
on:
  pull_request:
    branches: [ main ]

jobs:
  build-docs:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@main
      with:
        fetch-depth: 0 # otherwise, you will failed to push refs to dest repo
    
    - name: Set up Python 3.
      uses: actions/setup-python@v3
      with:
        python-version: 3.9

#     - name: Install Poetry.
#       uses: snok/install-poetry@v1.3
      
    - name: Install Pipenv
      run: |
        python -m pip install --upgrade pip
        pip install pipenv
        pipenv install --dev
      
    - name: Install Sphinx
      run: |
        pipenv install --dev sphinx
        pipenv install --dev sphinxcontrib.httpdomain
        pipenv install --dev sphinxcontrib-mermaid
        pipenv install --dev sphinx-rtd-theme

    - name: Build documentation.
      run: |
        mkdir gh-pages
        touch gh-pages/.nojekyll
        cd docs/
        pipenv run sphinx-build -b html . _build
        cp -r _build/* ../gh-pages/
    - name: Deploy documentation.
      if: ${{ github.event_name == 'pull_request' }}
      uses: JamesIves/github-pages-deploy-action@v4.3.0
      with:
        branch: gh-pages
        force: true
        folder: gh-pages