name: Build

on:
  push:
    branches: [ main ]

jobs:
  unittests-n-commits:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [3.7.1, 3.8, 3.9]

    steps:
    - uses: actions/checkout@v2

    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install pipenv-to-requirements
        pipenv_to_requirements
        # NOTE: pipenv_to_requirements doesn't handle github requirements, so requirements.txt is wrong when it comes
        #       to pyld.  We have to use pipenv for the time being
        pip install linkml-model
        pip install git+https://github.com/hsolbrig/pyld
        pip install -r requirements.txt
        pip install -r requirements-dev.txt
        # pipenv install --dev

    - name: Test with unittest
      run: |
        # pipenv run python -m unittest discover -p 'test_*.py'
        python -m unittest discover -p 'test_*.py'

    - name: Check in requirements.txt and requirements-dev.txt
      if: ${{ matrix.python-version }} == '3.8'
      run: |
        git add requirements*.txt
        if [[ ! -z $(git status -s requirements*.txt) ]]
        then
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"
          git commit -m 'Automatically generated requirements.txt and requirements-dev.txt' requirements*.txt
          git push
        fi

    - name: Check in test outputs
      if: ${{ matrix.python-version }} == '3.8'
      run: |
        find tests -name output -exec git add --force {} \;
        if [[ ! -z $(git status -s tests) ]]
        then
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"
          git commit -m 'Automated adding outputs from tests' tests
          git push
        fi

    - name: Check in updated notebooks
      if: ${{ matrix.python-version }} == '3.8'
      run: |
        if [[ ! -z $(git status -s notebooks) ]]
        then
        git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"
          git commit -m 'Automated adding updated notebooks' notebooks
          git push
        fi

    - name: Remove old docs
      if: ${{ matrix.python-version }} == '3.8'
      run: rm -fr docs/*

    - name: Create new docs
      if: ${{ matrix.python-version }} == '3.8'
      # NOTE: re-add "pipenv run" when we switch back to pipenv
      run: python -c "from linkml.generators.markdowngen import MarkdownGenerator;
            from linkml import LOCAL_METAMODEL_YAML_FILE;
            MarkdownGenerator(LOCAL_METAMODEL_YAML_FILE).serialize(directory='docs', image_dir='images')"

    - name: Commit changes and push
      if: ${{ matrix.python-version }} == '3.8'
      run: |
        git add docs
        if [[ ! -z $(git status -s docs) ]]
        then
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"
          git commit -m 'Automated update to docs with GitHub Actions' docs
          git push
        fi
