name: Poetry update
# with code borrowed from https://github.com/fuzzylabs/gha-poetry-update/blob/main/action.yml

on:
  schedule:
    # once a week, monday at midnight GMT
    - cron: "0 0 * * 1"
  workflow_dispatch:

jobs:
  update:
    runs-on: ubuntu-latest
    steps:
    - name: Check out repository
      uses: actions/checkout@v4
    - name: Set up python
      uses: actions/setup-python@v5
      with:
        python-version: "3.11"
    - name: Install Poetry
      uses: snok/install-poetry@v1
    - name: Show current deps
      shell: bash
      run: |
        BEFORE=$(echo "$(poetry show)" | awk '{print $1,$3}')
        echo "$BEFORE"
        {
          echo 'BEFORE<<EOF'
          echo "$BEFORE"
          echo EOF
        } >> "$GITHUB_ENV"
    - name: Update lockfile
      id: lockfile-update
      shell: bash
      run: poetry lock
    - name: Diff updated packages
      shell: bash
      run: |
        AFTER=$(echo "$(poetry show)" | awk '{print $1,$3}')
        BEFORE=$(echo "${{ env.BEFORE }}")
        # disable exit on error, something weird about process substitution here
        set +e
        diff -y --suppress-common-lines -W 80 <(echo "$BEFORE") <(echo "$AFTER")
        UPDATE_MSG=$(diff -y --suppress-common-lines -W 80 <(echo "$BEFORE") <(echo "$AFTER"))
        {
          echo 'UPDATE_MSG<<EOF'
          echo "$UPDATE_MSG"
          echo EOF
        } >> "$GITHUB_ENV"
    - uses: actions/create-github-app-token@v1
      id: app-token
      with:
        app-id: ${{ vars.PR_BOT_APP_ID }}
        private-key: ${{ secrets.PR_BOT_APP_PRIVATE_KEY }}
    - name: Create pull request
      uses: peter-evans/create-pull-request@v6
      with:
        token: ${{ steps.app-token.outputs.token }}
        branch: update-lockfile
        title: "[poetry] Update Lockfile"
        commit-message: "Update poetry lockfile"
        labels: poetry
        add-paths: poetry.lock
        body: |
          Update poetry dependencies:

          | Current | Updated |
          | ------- | ------- |
          ${{ env.UPDATE_MSG }}
